@import 'tailwindcss';

a:hover,
button:not(:disabled):hover,
input[type='checkbox']:not(:disabled):hover,
input[type='button']:not(:disabled):hover {
    @apply cursor-pointer drop-shadow-stone-600/25 drop-shadow-xs;
}

a:active,
button:not(:disabled):active,
input[type='checkbox']:not(:disabled):active,
input[type='button']:not(:disabled):active {
    @apply cursor-pointer drop-shadow-stone-600/25 drop-shadow-xs;
}

body {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-muted-foreground: var(--muted-foreground);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --muted-foreground: oklch(0.552 0.016 285.938);
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}
